.n,
.nn{
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-color: #e2e6eb;
}
.n {
  background-image: url(./unnamed.jpg);
}
.nn {
  background-image: url(../unnamed.jpg);
}
